<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>||Welcom Page||Home page||</title>

</head>




<body>
<img src="http://localhost:3000/images/welcome.jpg">

<div class="w3-bar w3-black">
    <div class="w3-bar-item w3-hover-red">
      <a href="/task1" >Task 1</a>
    </div>
    <div class="w3-bar-item w3-hover-green ">
      <a href="/task2">Task 2</a>
    </div>
    <div class="w3-bar-item w3-hover-blue">
      <a href="/task3">Task 3</a>

    </div>
    <div class="w3-bar-item w3-hover-red">
<a href="/">Task 4</a>

    </div>
    <div class="w3-bar-item w3-hover-green ">
<a href="/">Task 5</a>

    </div>
    <div class="w3-bar-item w3-hover-blue">
      <a href="/">About</a>
    </div>
  </div> 
  
</body>
</html>
