<!--Name: MD.Shehab Chowdhury. -->
<!DOCTYPE html>
<head>
<title>||Task 4||</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
h3{
    color: blue;
    font-style: italic;

}
h2{
    color: red;
    background-color: black;
}
h1{
    background-color: yellowgreen;
}

body{
    margin: 0;
    padding: 0;
}

</style>
</head>

<body>
<h1>Welcome To Task 4</h1>
<h2>Add Data & Show Data</h2>
<hr>
<h3>Add into Databases</h3>
<a href="/student"><button type="submit" class="btn btn-info">Add Student</button></a>
<a href="/teacher"><button type="submit" class="btn btn-warning">Add Teachers</button></a>
<a href="/exam"><button type="submit" class="btn btn-danger">Add Exams</button></a>
<a href="/department"><button type="submit" class="btn btn-success">Add Departments</button></a>
<a href="/course"><button type="submit" class="btn btn-primary">Add Courses</button></a>
<hr>
<h3>Show From Databases</h3>
<a href="/stable"><button type="submit" class="btn btn-info">Show Students Database</button></a>
<a href="/ttable"><button type="submit" class="btn btn-warning">Show Teachers Database</button></a>
<a href="/etable"><button type="submit" class="btn btn-danger">Show Exams Database</button></a>
<a href="/dtable"><button type="submit" class="btn btn-success">Show Departments Database</button></a>
<a href="/ctable"><button type="submit" class="btn btn-primary">Show Courses Database</button></a>
<hr>
<a href="/"><input type="submit" class="btn btn-info" value="Homepage"> </a>
<hr>
</body>
</html>
