<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>||Task 2||</title>


    <style>
            h3{
                color: blue;
                font-style: italic;
            
            }
            h2{
                color: red;
                background-color: black;
            }
            h1{
                background-color: yellowgreen;
            }
             
             body{
                 margin: 0;
                 padding: 0;
             }
            
            </style>
            
</head>
<body>
    <h1>Welcome To Task 2</h1>
    <h2>Routes 5 Pages</h2>
    <br>
    <a href="/task2p1"><input type="submit" class="btn btn-danger"value="Route 1"></a>
    <br>
    <a href="/task2p2"><input type="submit" class="btn btn-primary"value="Route 2"></a>
    <br>
    <a href="/task2p3"><input type="submit" class="btn btn-warning"value="Route 3"></a>
    <br>
    <a href="/task2p4"><input type="submit" class="btn btn-info"value="Route 4"></a>
    <br>
    <a href="/task2p5"><input type="submit" class="btn btn-success"value="Route 5"></a>
    <br>
   
<br>
<hr>
<a href="/"><input type="submit" class="btn btn-info" value="Homepage"> </a>
<hr>
</body>
</html>