<!--Name: MD.Shehab Chowdhury. -->
<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
<title>||Task 1||</title>
<style>
                h3{
                    color: blue;
                    font-style: italic;
                
                }
                h2{
                    color: red;
                    background-color: black;
                }
                h1{
                    background-color: yellowgreen;
                }
                 
                 body{
                     margin: 0;
                     padding: 0;
                 }
                
                </style>
                
</head>

<body>
<p id = "top"></p> 
<h1>Welcome To My WebPage</h1>
<hr>

<a href="/"><img src="http://localhost:3000/images/shehab.jpg" width="200" align="right"></a>
<h2>Introduction</h2>

<p><b>Hello Everyone!!</b>
My name is <b>MD.Shehab Chowdhury</b>.I am only 22 years old.I am a student of <b>Ranada Prasad Shaha University</b>.Department of <b> Computer Science & Engineering</b>.</p>
<hr>

<h1><ins>My Favorite Things</ins></h1>
<br>
<h2>Favorite Fruits</h2>
<ol type ="i">
    <li>Mango</li>
    <li>Grapes</li>
    <li>Orange</li>
    
</ol>

<h2>Favorite Foods</h2>
<ol type ="i">
    <li>Pakistani Briyani</li>
    <li>Chicken Grill</li>
    <li>Noddle</li>
    
</ol>

<h2>Favorite Games</h2>
<ol type ="i">
    <li>Video Games(Action,Shooter)</li>
    <li>Kites</li>
    <li>Batminton</li>
    
</ol>

<h2>Favorite Hobbies</h2>
<ol type ="i">
    <li>GYM</li>
    <li>Movie</li>
    <li>Tour</li>
    
</ol>

<h2>Favorite Actors</h2>
<ol type ="i">
    <li>Salman khan</li>
    <li>Atif Aslam</li>
    <li>Neha Sharma</li>
    
</ol>

<h2>Favorite Persons</h2>
<ol type ="i">
    <li>Ammu,Abbu</li>
    <li>School Friends</li>
    
</ol>

<hr>
<h3>CLick On mY <mark>Image</mark> for go to Home Page</h3>
                        <p>OR</p>
<a href="/"><input type="submit" class="btn btn-info" value="HomePage"></a>
<hr>
<h3>Thank You</h3>
<p><a href="#top">Click Here to go to the Top of the page</a></p>

</body>



</html>
